<!DOCTYPE html>
<html>

<head>
  <title>Naruto Card Maker </title>
  <meta charset="UTF-8">
  <link rel="icon" href="villages/leaf.png" type="image/png">
</head>

<body>

  <div class="container">



    <div class="imgTemplate">
      <canvas id="myCanvas" style="width: 343px; height: 500px;">
      </canvas>
      <div id="preview">
        <!-- <img src="elementos/fire" alt="" id="source"> -->
      </div>
    </div>

    <button id="btnImgDowload"><a id="imagePreview"></a>Download</button>

    <div class="selects-container">
      <div class="villages-conteiner">
        <div class="villages">
          <select name="" id="select-villages">
            <option value="">Vila</option>
            <option value="cloud">Nuvem</option>
            <option value="leaf">Folha</option>
            <option value="mist">Água</option>
            <option value="rain">Chuva</option>
            <option value="rock">Pedra</option>
            <option value="sand">Areia</option>
            <option value="sound">Som</option>
          </select>
          <div class="type-villages">
            <select name="" id="select-type-villages">
              <option value="normal">Normal</option>
              <option value="aka">Aka</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-types">
        <select name="" id="select-type-card">
          <option value="shinobi">Ninja</option>
          <option value="jutsu">Jutsu</option>
          <option value="mission">Missão</option>
          <option value="client">Cliente</option>
        </select>
      </div>
      <div class="type-jutsu-container">
        <select name="jutsu-type" id="jutsu-type">
          <option value="ambush">Ambush</option>
          <option value="Chakra Control">Chakra Control</option>
          <option value="cliente">Cliente</option>
          <option value="Genjutsu">Genjutsu</option>
          <option value="hyoton">Hyoton</option>
          <option value="insect">Insect</option>
          <option value="mestre_de_marionetes">Mestre de Marionetes</option>
          <option value="Mission">Mission</option>
          <option value="Ninjutsu_Genjutsu">Ninjutsu e Genjutsu</option>
          <option value="Ninjutsu">Ninjutsu</option>
          <option value="Oil">Oil</option>
          <option value="prepared">Prepared</option>
          <option value="Quick">Quick</option>
          <option value="Rage">Rage</option>
          <option value="Sage">Sage</option>
          <option value="samurai">Samurai</option>
          <option value="Sand">Sand</option>
          <option value="sensorial">Sensorial</option>
          <option value="Shadow">Shadow</option>
          <option value="shadow_clones">Shadow Clones</option>
          <option value="Silent_Assasin">Silent Assasin</option>
          <option value="Snake">Snake</option>
          <option value="Speed">Speed</option>
          <option value="Strategist">Strategist</option>
          <option value="Strategist_Shadow">Strategist Shadow</option>
          <option value="support">Support</option>
          <option value="Taijutsu">Taijutsu</option>
          <option value="Toad">Toad</option>
          <option value="weapon">Weapon</option>
        </select>
      </div>
    </div>

    <div class="txtForm">
      <div class="title-conteiner">
        <input type="text" name="" id="title-card" placeholder="Título">
        <input type="text" name="" id="subtitle-card" placeholder="Tags">
        <input type="number" name="" id="level-card" placeholder="Nível">

        <div class="container-image-select">
          <input type="text" id="txtFileName" readonly="true">
          <input type="file" id="inputFile" style="display: none;">
          <button id="openModalBtn">Selecionar Imagem</button>
        </div>

        <div class="desc-container">
          <div class="effect-container">
            <input type="text" name="" id="effect-title" placeholder="Título do Efeito">
            <textarea name="" id="effect-desc" cols="30" rows="2" placeholder="Descrição do Efeito"></textarea>
          </div>
        </div>

        <div class="jutsu-desc-form">
          <label for="numJutsus">Número de Jutsus</label>
          <input type="number" name="" id="number-jutsus" placeholder="Número de jutsus" max="2" min="0">

          <div id="jutsu-desc-form">
          </div>
        </div>
      </div>

      <div class="atributtes-text">
        <label for="intellige">Inteligencia:</label>
        <input type="text" name="intellige" id="intelligeText" placeholder="Inteligencia">
        <label for="speed">Velocidade:</label>
        <input type="text" name="speed" id="speedText" placeholder="Velocidade">
        <label for="atk">Ataque:</label>
        <input type="text" name="atk" id="atkText" placeholder="Ataque">
        <label for="def">Defesa:</label>
        <input type="text" name="def" id="defText" placeholder="Defesa">
      </div>
    </div>
  </div>


  <script>
    //Fonts
    const AlenconDemo = new FontFace('AlenconDemoFamily', 'url(Allencon_Demo/Allencon-Demo.woff)')
    const TrebuchetMS = new FontFace('TrebuchetMSFamily', 'url(Trebuchet_MS/trebuc.woff)')
    const TrebuchetMSBold = new FontFace('TrebuchetMSBold', 'url(Trebuchet_MS/trebuchet_ms_bold.ttf)')

    var fontNumberTrebuchetBold = 'bold 60px TrebuchetMSBold'

    document.fonts.add(AlenconDemo)
    document.fonts.add(TrebuchetMS)
    document.fonts.add(TrebuchetMSBold)

    //selects
    const selectCardType = document.getElementById('select-type-card')

    const selectVillage = document.getElementById('select-villages')
    const selectVillageType = document.getElementById('select-type-villages')

    const selectJutsuType = document.getElementById('jutsu-type')

    // Obtendo uma referência para o botão pelo id
    const titleText = document.getElementById('title-card')
    const subtitleText = document.getElementById('subtitle-card')
    const levelText = document.getElementById('level-card')
    const effectTitleText = document.getElementById('effect-title')
    const effectDescTextA = document.getElementById('effect-desc')
    const numberJutsus = document.getElementById('number-jutsus')
    //const chakraCostText = document.getElementById('chakra-cost')
    //const jutsuDescTextA = document.getElementById('jutsu-desc')

    const intelligeText = document.getElementById('intelligeText')
    const speedText = document.getElementById('speedText')
    const atkText = document.getElementById('atkText')
    const defText = document.getElementById('defText')

    const btnFile = document.getElementById('openModalBtn')
    const txtFileName = document.getElementById('txtFileName')
    const inputFile = document.getElementById('inputFile')
    const preview = document.querySelector("#preview");

    const btnDowload = document.getElementById('btnImgDowload');
    const btnUpdateText = document.getElementById('btnAtualizaTexto');

    var canvas = document.getElementById('myCanvas');
    var ctx = canvas.getContext('2d', { alpha: true });

    // Carrega a imagem
    var img = new Image();
    img.src = 'BGCard.png';
    img.onload = function () {
      loadBGImage()
    };

    //Atributos
    var atkAttr = new Image()
    atkAttr.src = 'Attributes/atk_symbol.png'

    var defAttr = new Image()
    defAttr.src = 'Attributes/def_symbol.png'

    var intAttr = new Image()
    intAttr.src = 'Attributes/int_symbol.png'

    var velAttr = new Image()
    velAttr.src = 'Attributes/speed_symbol.png'

    var upLine = new Image()
    upLine.src = 'lines/faixa_de_cima.png'

    var downLine = new Image()
    downLine.src = 'lines/faixa_de_baixo.png'

    var levelBG = new Image()
    levelBG.src = 'nv_symbol.png'

    canvas.width = img.width;
    canvas.height = img.height;

    const x = canvas.width / 2
    const y = canvas.height / 2

    const listFieldJutsus = [] // Lista de campos de textos dinamicos referentes ao numero de jutsus da carta

    const dicVillageImg = {}
    loadImgVillages()

    const dicJutsusType = {}
    loadJutsusTypeImg()

    function calcTextSize(text) {
      const textMetrics = ctx.measureText(text);
      ////console.log(textMetrics)

      return textMetrics
    }

    function calcCenterImg(image, x_relative = 0, y_relative = 0) {

      x_relative = x_relative > 0 ? x_relative : image.width
      y_relative = y_relative > 0 ? y_relative : image.height

      const x_img = x - (x_relative / 2)
      const y_img = y - (y_relative / 2)

      return [x_img, y_img]
    }

    function loadBGImage() {

      // Cria o canvas
      ctx.clearRect(0, 0, canvas.width, canvas.height)
      ctx.drawImage(img, 0, 0);

      // Write Title, SubTitle, Jutsus Skills and Atributtes
      writeInCanva()

      //Lines and TypeJutsu
      drawLines()
      coord_jutsu_type = drawJutsuType()

      //Card Level
      if (levelText.value != '') {
        drawLevelCard()
      }

      if ((selectCardType.value != 'mission')) {
        drawVillage()

        if (selectCardType.value.includes('client') || selectCardType.value.includes('shinobi')) {
          drawAtributtes(atkText.value, defText.value, intelligeText.value, speedText.value, coord_jutsu_type)
        }
      }

    }

    function drawAtributtes(atk, def, int, vel, coord_jutsu_type) {
      /*console.log('COORDENADAS');
      console.log(coord_jutsu_type[0]);*/

      const coordXAtkDef = coord_jutsu_type[0] + 150
      const coordXIntVel = coord_jutsu_type[0] - 130

      const coordY = coord_jutsu_type[1] + 40

      const attrXMargin = -100
      const attrYMargin = -25

      ctx.drawImage(atkAttr, coordXAtkDef + attrXMargin + 90, coordY + attrYMargin - 2.5)
      writeStrokeNumber(`ATK: ${atk}`, coordXAtkDef, coordY, 32, '#adabad', 5, 'left')
      ctx.drawImage(defAttr, coordXAtkDef + attrXMargin + 90, coordY + 40 + attrYMargin - 2.5)
      writeStrokeNumber(`DEF: ${def}`, coordXAtkDef, coordY + 40, 32, '#adabad', 5, 'left')
      ctx.drawImage(intAttr, coordXIntVel + attrXMargin, coordY + attrYMargin)
      writeStrokeNumber(`Inteligencia: ${int}`, coordXIntVel - 90, coordY, 27, '#adabad', 4, 'left')
      ctx.drawImage(velAttr, coordXIntVel + attrXMargin, coordY + 40 + attrYMargin)
      writeStrokeNumber(`Velocidade: ${vel}`, coordXIntVel - 90, coordY + 40, 27, '#adabad', 4, 'left')
      //writeStrokeNumber(int)
      //writeStrokeNumber(vel)
    }

    function drawLines() {
      ctx.drawImage(upLine, (upLine.width - x) / 4, y + 110)
      ctx.drawImage(downLine, (downLine.width - x) / 4, y + 600 - 150)
      //console.log('Desenhando linha de cima...')

      /*ctx.strokeStyle = "#8d313d";
          ctx.moveTo(70, y + 110);
          ctx.lineTo((x * 2) - 70, y + 110);
          ctx.stroke();*/
    }

    function chooseTypeCard() {
      var textTitleEffect = ''

      if (['client', 'shinobi'].includes(selectCardType.value)) {
        textTitleEffect = `[${effectTitleText.value}]: `
      } else if (selectCardType.value === 'mission') {
        textTitleEffect = 'Efeito: '
      } else {
        textTitleEffect = 'Requisitos: ' //Alterar
      }

      return textTitleEffect
    }

    function searchSpecialWords(line, x, y, NR, VR) {

      var groupSpecial = []
      groupNegrito = line.match(/\{\*(.*?)\*\}/g); //ER para capturar o token
      groupVermelho = line.match(/\{~(.*?)~\}/g); //ER para capturar o token

      if (groupNegrito == null) {
        groupSpecial = groupVermelho
      } else if (groupVermelho == null) {
        groupSpecial = groupNegrito
      } else {
        groupSpecial = groupNegrito.concat(groupVermelho)
      }

      var groupWords = line.split(' ')

      var specialText = ''

      for (var i = 0; i < groupWords.length; i++) {
        word = groupWords[i]
        token = word.substring(0, 3)
        if ((token === NR || token === VR) && (groupSpecial != null)) {
          for (var j = 0; j < groupSpecial.length; j++) {
            special = groupSpecial[j]
            if (special != null) {
              if (special.includes(word)) {
                specialSize = special.split(' ').length
                i += (specialSize) > 1 ? specialSize - 1 : 0
                //console.log(specialSize)

                if (special.includes(NR)) {
                  ctx.font = 'bold 20px TrebuchetMSFamily'
                  ctx.fillStyle = 'black'
                } else {
                  ctx.font = '20px TrebuchetMSFamily'
                  ctx.fillStyle = '#8d313d'
                }
                specialText = special.substring(3, special.length - 3)
                ctx.fillText(specialText, x, y);
                x += calcTextSize(`${specialText} `).width
                break
              }
            } else {
              continue
            }
          }
        } else {
          ctx.font = '20px TrebuchetMSFamily'
          ctx.fillStyle = 'black'
          ctx.fillText(word, x, y);
          x += calcTextSize(`${word} `).width
        }
      }
    }

    function printAtWordWrap(text, x, y, lineHeight, fitWidth, initialLineWidth) {
      // Personalização do texto
      const NR = '{*}'
      const VR = '{~}'

      //Contador de linha
      var currentLine = 0

      // Variavel Texto
      var lineText = ''
      var lines = []
      var tamLine = 0

      for (let i = 0; i < text.length; i++) {
        const caractere = text.charAt(i);

        lineText += caractere
        tamLine = calcTextSize(lineText).width

        ////console.log(`tamLine:${tamLine} >= fitWidth:${fitWidth}`)

        if (tamLine >= fitWidth - 50) {
          lastSpace = lineText.lastIndexOf(' ')
          lineText = lineText.substring(0, lastSpace) + '\n' + lineText.substring(lastSpace + 1)
          lines.push(lineText)
          lineText = ''
        }
      }

      lines.push(lineText)

      lineText = lines.splice(0).join('')
      lineText = lineText.split('\n')
      //console.log(lineText);

      for (line of lineText) {
        currentLine = lineText.indexOf(line)

        //console.log(line)
        if ((line.indexOf(NR) >= 0) || (line.indexOf(VR) >= 0)) {
          searchSpecialWords(line, currentLine == 0 ? x : initialLineWidth, y + (lineHeight * currentLine), NR, VR)
          continue
        }

        ctx.font = '20px TrebuchetMSFamily'
        ctx.fillText(line, currentLine == 0 ? x : initialLineWidth, y + (lineHeight * currentLine));
      }

      return currentLine
    }

    function writeInCanva() {

      AlenconDemo.load().then(
        () => {
          //console.log(`AlenconDemoFamily: ${AlenconDemo.status}`)

          ctx.font = '65px AlenconDemoFamily'
          ctx.fillStyle = 'black';
          ctx.textAlign = "center"
          ctx.fillText(titleText.value, x, y + 90);

        }, (err) => {
          console.error(err);
        })

      TrebuchetMS.load().then(
        () => {
          //console.log(`TrebuchetMSFamily: ${TrebuchetMS.status}`)

          //Subtitle Tags
          ctx.font = '600 20px TrebuchetMSFamily'
          ctx.fillStyle = '#8d313d'
          ctx.textAlign = "left"
          ctx.fillText(subtitleText.value, 70, y + 131);

        }, (err) => {
          console.error(err);
        })

      //effect-title
      TrebuchetMS.load().then(
        () => {
          //console.log(`TrebuchetMSFamily: ${TrebuchetMS.status}`)

          const textTitleEffect = chooseTypeCard()

          //Subtitle Tags
          ctx.font = 'Bold 25px TrebuchetMSFamily'
          ctx.fillStyle = 'black'
          ctx.textAlign = "left"
          ctx.fillText(textTitleEffect, 50, y + 170);

        }, (err) => {
          console.error(err);
        })

      //effect-desc
      TrebuchetMS.load().then(
        () => {
          //console.log(`TrebuchetMSFamily: ${TrebuchetMS.status}`)

          const textTitleEffect = chooseTypeCard()
          effectTitleSize = calcTextSize(textTitleEffect)

          const lineEffectDescSize = 25
          const yEffectDesc = y + 170

          ctx.font = 'bold 20px TrebuchetMSFamily'
          ctx.fillStyle = 'black'
          ctx.textAlign = "left"
          var numLines = printAtWordWrap(effectDescTextA.value, effectTitleSize.width + 50, yEffectDesc, lineEffectDescSize, 600, 50)
          //ctx.fillText(effectDescTextA.value, effectTitleSize.width + 50, y + 160); //50 é margem inicial


          switch (selectCardType.value) {
            case 'shinobi':

              //const yLevelJutsu = (numLines * lineEffectDescSize) + yEffectDesc + 125
              const xLevelJutsu = 150
              var yLevelJutsu = (numLines * lineEffectDescSize) + yEffectDesc + 80

              if (numberJutsus.value > 0) {
                for (var i = 0; i <= numberJutsus.value;) {

                  if (!(i || 0)) {
                    yLevelJutsu = yLevelJutsu
                  } else {
                    yLevelJutsu = yLevelJutsu + 50 + (25 * numLines)
                  }

                  writeStrokeNumber(listFieldJutsus[i].value, xLevelJutsu, yLevelJutsu, 40, 'white', 8)
                  numLines = printAtWordWrap(listFieldJutsus[i + 1].value, xLevelJutsu + 50, yLevelJutsu - 20, 25, 650, xLevelJutsu + 50)
                  i += 2
                }
              }
              //ctx.drawImage(levelBG, (coord_img[0] + 280), (coord_img[1] + 58))

              break;
            case 'client':
              break;
            case 'jutsu':
              break;
            default:
              //mission
              break;
          }


        }, (err) => {
          console.error(err);
        })
    }

    function writeStrokeNumber(text, x, y, size = 60, colorFill = 'white', lineWidth = 3, textAlign = 'center') {
      TrebuchetMSBold.load().then(
        () => {
          //console.log(`TrebuchetMSBold: ${TrebuchetMSBold.status}`)

          if (size != 60) {
            //console.log(size);
            if (!Number.isNaN(size)) {
              ctx.font = fontNumberTrebuchetBold.replace('60', size)
            } else {
              ctx.font = fontNumberTrebuchetBold
              console.log('Digite um número valido para alterar o tamanho da fonte da (mana) do jutsu');
            }
          } else {
            ctx.font = fontNumberTrebuchetBold
          }

          ctx.lineWidth = lineWidth
          ctx.strokeStyle = 'black'
          ctx.textAlign = textAlign
          ctx.strokeText(text, x, y)

          ctx.fillStyle = colorFill
          ctx.fillText(text, x, y)

        }, (err) => {
          console.error(err);
        })
    }

    function drawLevelCard() {
      //console.log('Writing Level Card...')
      coord_img = calcCenterImg(levelBG)
      ctx.drawImage(levelBG, (coord_img[0] + 280), (coord_img[1] + 58))
      writeStrokeNumber(levelText.value, (x + 280), y + 90, 60, 'white', 6)
    }

    function loadJutsusTypeImg() {
      const optionsJutsus = selectJutsuType.options
      const listJutsuTypes = []

      for (const types of optionsJutsus) {
        listJutsuTypes.push(types.value)
      }

      for (const jutsuType of listJutsuTypes) {
        imgJutsuType = new Image()
        imgJutsuType.src = `types/${jutsuType}.png`

        dicJutsusType[jutsuType] = imgJutsuType
      }
      console.log(dicJutsusType);
    }

    function drawJutsuType() {
      coord_img = calcCenterImg(dicJutsusType[selectJutsuType.value], 100, 100)
      ctx.drawImage(dicJutsusType[selectJutsuType.value], coord_img[0], coord_img[1] + 510, 100, 100)

      return [coord_img[0], coord_img[1] + 510]
    }

    function loadImgVillages() {
      const optionsVillage = selectVillage.options
      const listVillages = []

      for (const village of optionsVillage) {
        listVillages.push(village.value)
      }

      for (const village of listVillages) {
        ////console.log(listVillages);
        imgVillage = new Image()
        imgAkaVillage = new Image()
        imgVillage.src = `villages/${village}.png`
        imgAkaVillage.src = `villages/aka_${village}.png`
        //ctx.drawImage(imgVillage, 0, 0);

        dicVillageImg[village] = imgVillage
        dicVillageImg[`aka_${village}`] = imgAkaVillage
        //listVillageImg.push(imgVillage)
      }
      //listVillageImg.splice(0, 1)
      delete dicVillageImg[""]
      delete dicVillageImg["aka_"]

      dicVillageImg['aka_cloud'] = `villages/cloud.png`

      ////console.log(dicVillageImg)
    }

    function typesVillages(typeVillage) {

      var villageImg = new Image()

      switch (selectVillageType.value) {

        case 'aka':
          villageImg = dicVillageImg[`aka_${typeVillage}`]
          //console.log(dicVillageImg)
          imgCoord = calcCenterImg(villageImg)
          ctx.drawImage(villageImg, imgCoord[0] - 280, imgCoord[1] + 80);
          break;

        default:
          villageImg = dicVillageImg[typeVillage]
          imgCoord = calcCenterImg(villageImg)
          ctx.drawImage(villageImg, imgCoord[0] - 280, imgCoord[1] + 80);
          break;
      }
    }

    function drawVillage() {
      if (selectVillage.value != '') {
        typesVillages(selectVillage.value)
      }
    }


    // Adicionando um ouvinte de evento de clique ao botão
    btnDowload.addEventListener('click', function () {
      // Faz o download da imagem
      ////console.log(titleText.value)
      var link = document.getElementById('imagePreview');
      link.download = canvas.toDataURL('image/jpeg');
      link.href = link.download
      link.click()

    });

    titleText.addEventListener('input', () => loadBGImage())
    subtitleText.addEventListener('input', () => loadBGImage())
    levelText.addEventListener('input', () => loadBGImage())
    effectTitleText.addEventListener('input', () => loadBGImage())
    numberJutsus.addEventListener('input', () => {

      listFieldJutsus.splice(0)
      containerJutsusDesc = document.getElementById('jutsu-desc-form')
      containerJutsusDesc.innerHTML = ''

      for (var i = 0; i < numberJutsus.value; i++) { //GRAVACAO

        label1 = document.createElement('label')
        label1.for = `chakra-cost${i}`
        label1.textContent = `Custo de Chakra do Jutsu ${i + 1}:`

        text1 = document.createElement('input')
        text1.type = 'text'
        text1.id = `chakra-cost${i}`
        text1.name = `chakra-cost${i}`
        text1.placeholder = `Custo de Chakra do Jutsu ${i + 1}`
        listFieldJutsus.push(text1)

        label2 = document.createElement('label')
        label2.for = `jutsu-desc${i}`
        label2.textContent = `Descriçado do Jutsu ${i + 1}:`

        text2 = document.createElement('textarea')
        text2.type = 'text'
        text2.id = `jutsu-desc${i}`
        text2.name = `jutsu-desc${i}`
        text2.placeholder = `Descrição do Jutsu ${i + 1}`
        listFieldJutsus.push(text2)

        containerJutsusDesc.appendChild(label1)
        containerJutsusDesc.appendChild(text1)
        containerJutsusDesc.appendChild(label2)
        containerJutsusDesc.appendChild(text2)

        text1.addEventListener('input', () => loadBGImage())
        text2.addEventListener('input', () => loadBGImage())


        /* <label for="chakra-cost">Custo de Chakra:</label>
         <input type="text" name="chakra-cost" id="chakra-cost" placeholder="Custo de Chakra">
 
         <label for="jutsu-desc">Descrição do Jutsu:</label>
         <textarea type="text" name="jutsu-desc" id="jutsu-desc" placeholder="Descrição do Jutsu"></textarea>*/
      }
    })
    effectDescTextA.addEventListener('input', () => loadBGImage())

    selectJutsuType.addEventListener('input', () => loadBGImage())

    selectVillage.addEventListener('change', () => loadBGImage())
    selectVillageType.addEventListener('change', () => loadBGImage())
    selectCardType.addEventListener('change', () => loadBGImage())

    intelligeText.addEventListener('input', () => loadBGImage())
    speedText.addEventListener('input', () => loadBGImage())
    atkText.addEventListener('input', () => loadBGImage())
    defText.addEventListener('input', () => loadBGImage())

    btnFile.addEventListener('click', () => {
      inputFile.click()
    })

    inputFile.addEventListener('change', () => {
      var file = inputFile.files[0];

      if (file) {
        // Verifica se um arquivo foi selecionado
        var reader = new FileReader();

        reader.addEventListener('load',
          () => {
            var imageUrl = reader.result
            txtFileName.value = file.name
            const perfilImage = new Image()
            perfilImage.src = imageUrl;

            loadBGImage()
            perfilImage.onload = function () {
              // A imagem está totalmente carregada, agora podemos desenhá-la no canvas
              // console.log(perfilImage.width);
              coordCenter = calcCenterImg(perfilImage, perfilImage.height, perfilImage.width);
              ctx.drawImage(perfilImage, 33, 33, y * 1.26, x * 1.38); //width, height
            };

            //preview.appendChild(perfilImage);


          },
          false,
        );

        reader.readAsDataURL(file)
      }
    })


  </script>

  <script>

  </script>
</body>

</html>